<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <%= greeting %>
  <ul>
    <% for (const key of Object.keys(data)) { %>
      <li>
        <a href=<%= data[key] %> ><%= key %></a>
      </li>
    <% } %>
  </ul>
</body>

<%- include('../partials/footer') %>
</html>
