<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <%= greeting %>
  <ul>
    <% for (const key in urls) { %>
      <li>
        <a href=<%= urls[key] %> ><%= key %></a>: redirects to <a href=<%= urls[key] %>><%= urls[key] %></a
      </li>
    <% } %>
      <li>
        <a href='#'>Add a new short URL!</a>
      </li>
  </ul>
</body>

<%- include('../partials/footer') %>
</html>
